<h1>Hello {{FirstName}} {{LastName}}</h1>
<h2>Email: {{Email}}</h2>
<h2>Family Code: {{familyCode}}</h2>
<a href="/users/myfamily/{{familyCode}}">My Family</a>
<a href="/feed">Family Live Feed</a>
<a href="/users/logout">Logout</a>

